{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<h1 class="text-center mt-5 mb-5">Contactez-nous</h1>

<div class="d-flex justify-content-center m-auto pt-5 pb-5">
	{{ form(contactForm) }}
</div>

{% endblock %}
