{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<div class="row text-center mt-5 mb-5">
		<h1>BlogXpress</h1>
		<h4>Tout sur l'actu des vacances en xpress</h4>
	</div>

	<hr>

	<div class="row justify-content-center">

		<h4 class="text-center">Les derniers articles</h4>

		{% for item in articles %}
			<div class="col-md-3 border rounded shadow-md m-4 p-3 bx_cover text-center text-light text-shadow" style="background-image: url('https://source.unsplash.com/200x200/?sea,beach')">
				<h3>{{ item.title }}</h3>
				<p>{{ item.content|slice(0, 45) }}...</p>
				<h6>{{ item.category.name }}</h6>
				<em>{{ item.author.name }}</em>
			</div>
		{% endfor %}
	</div>

{% endblock %}
